/* LikeAnimation.css */

.like-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5); /* 初期状態は透明 */
  }
  
  .heart-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .like-animation .icon {
    width: 200px;
    height: 200px;
    color: red;
  }
  