@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hedder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ff4d4d;
  color: white;
}

/* 全体コンテナのスタイル */
.page-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 60px 0;
  font-family: Arial, sans-serif;
}

/* タブヘッダーのスタイル */
.tabs {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 2px solid #e0e0e0;
  position: sticky; /* stickyでスクロールしても画面上に残るようにする */
  top: 0; /* 画面の上部に固定 */
  z-index: 100; /* コンテンツの上に表示 */
}

/* タブボタンのスタイル */
.tab-button {
  padding: 10px 20px;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  transition: color 0.3s, border-bottom 0.3s;
}

.tab-button.active {
  color: #ff4d4d;
  border-bottom: 2px solid #ff4d4d;
  font-weight: bold;
}

.tab-button:hover {
  color: #ff4d4d;
}

/* 投稿リストコンテナ */
.post-list-container {
  padding: 5px;
}


.user-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* レスポンシブデザイン対応 */
@media (max-width: 600px) {
  .page-container {
    padding: 10px;
  }

  .tab-button {
    font-size: 14px;
    padding: 8px 15px;
  }

  .post {
    padding: 10px;
  }
}