.user-icon-card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 1px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}
.user-icon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between;  */
  width: 50%;
}

.icon-avatar {
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 5px;
  height: 50px;
  width: 50px;
}

.icon-text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.icon-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.icon-id {
  font-size: 0.9rem;
  color: #666;
}

.clickable {
  transition: all 0.3s ease;
}
.clickable:hover {
  background-color: #e0f7fa;
}
.dm-message-container {
  flex-grow: 1;
  padding-left: 15px;
}

.dm-message {
  font-size: 16px;
  margin-left: 20px; /* 名前とメッセージの間にスペースを設ける */
  font: bold;
  color: #333;
  margin-left: 20px;
  white-space: nowrap; /* テキストが折り返されないようにする */
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-message {
  color: #333;
}

.dm-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
