.profile-card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #e1e8ed;
    background-color: #ffffff;
    padding: 20px;
    color:#14171a;
    p {
      font-size: 0.9em;
      strong {
        font-weight: bold;
      }
    }
    
    .profile-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  
      .avatar {
        border-radius: 50%;
        margin-right: 15px;
        height: 80px;
        width: 80px;
        padding: 0%;
      }
  
      .name-username {
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        .name {
          font-size: 1.5em;
          font-weight: bold;
        }
  
        .username {
          color: #657786;
          font-size: 1em;
          margin-top: 5px;
        }
      }
    }
  
    .bio {
      font-size: 1em;
      text-align: left;
      margin: 10px 0;
    }
  
    .profile-details {
      display: block;
      justify-content: space-between;
      align-items: center;
      
      div {
        text-align: left;
      }

      .birthday {
        text-align: left;
        color: #9e9e9e;
        margin: 5px 0;
        
      }
  
      .stats {
        display: flex;
        gap: 20px; /* 各項目の間にスペースを設ける */
        align-items: flex-end;
        strong {
          font-weight: bold;
          font-size: 1.2em;
          color: #14171a;
        }
        a {
           /* Twitterのような青色 */
          text-decoration: none;
          font-size: 0.9em;
          color: #9e9e9e;
  
          &:hover {
            text-decoration: underline; /* ホバー時に下線 */
          }
        }
      }
    }
  }
  